.pentaflower-row {
  display: flex;
  justify-content: center;
}

.pentaflower-canvas-container {
  display: inline-block;
  padding: 30px;

  .pentaflower-canvas {
    display: inline-block;
    width: 300px;
    height: 300px;

    svg {
      width: 300px;
      height: 300px;
      cursor: pointer;
    }
  }
}

.pentaflower-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 20px;
  padding: 20px;
  margin-top: 4px;
}

.pentaflower-title-text {
  font-family: var(--font);
  font-style: italic;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .pentaflower-row {
    display: block;
  }
}

.create-container {
  display: flex;
  justify-content: center;
}

.pentaflower-canvas-container.create {
  .pentaflower-canvas {
    width: 400px;
    height: 400px;

    svg {
      cursor: default;
      width: 400px;
      height: 400px;
    }
  }
}

.pentaflower-title.create {
  width: 360px;
}

.pentaflower-controls-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 200px;
  padding: 30px;

  .spacer {
    padding: 10px 0;
  }

  .form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 100px;
    }
  }

  .button#download {
    width: 100%;
  }
}
