.pentaflower-row {
  display: flex;
  justify-content: center;
}

.pentaflower-canvas-container {
  display: inline-block;
  padding: 30px;

  &.exhibit {
    .pentaflower-canvas {
      display: inline-block;
      width: 300px;
      height: 300px;

      img {
        width: 300px;
        height: 300px;
      }
    }
  }

  &.create {
    position: relative;

    #loading-spinner-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 30px;
      left: 30px;
      width: 410px;
      height: 484px;
      background: rgba(0, 0, 0, 0.5);

      &.hidden {
        display: none;
      }
    }

    .pentaflower-canvas {
      width: 400px;
      height: 400px;

      svg {
        cursor: default;
        width: 400px;
        height: 400px;
      }
    }
  }
}

.pentaflower-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 20px;
  padding: 20px;
  margin-top: 4px;
}

.pentaflower-title-text {
  font-family: var(--font);
  font-style: italic;
  font-weight: 600;
}

.create-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pentaflower-title.create {
  width: 360px;
}

.pentaflower-controls-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 200px;
  padding: 30px;

  .form-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font);

    input {
      width: 40px;
    }
  }

  .pickr {
    z-index: auto;
  }

  .button#download {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .pentaflower-row {
    display: block;
    padding: 0 20px;
  }

  .pentaflower-canvas-container.exhibit, .pentaflower-canvas-container.create {
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 40px;

    .pentaflower-canvas {
      width: auto;
      height: auto;
      margin-top: 40px;

      img, svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    #loading-spinner-container {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .pentaflower-title, .pentaflower-title.create {
    width: auto;
    height: auto;
  }

  .create-container {
    display: block;
    padding: 0 20px;
  }

  .pentaflower-controls-container {
    width: auto;
    padding: 0;
  }
}
